/* IPLComponent's private CSS styles */

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  float: left;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #CB3;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.heroes li.selected {
  background-color: black;
  color: white;
}
.heroes li.selected:hover {
  background-color: #505050;
  color: white;
}
.heroes li.selected:active {
  background-color: black;
  color: white;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

.semi-finalist  {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  float: left;
}
.semi-finalist  li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EF6;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.semi-finalist  li:hover {
  color: #2c3a41;
  background-color: #a6c7f3;
  left: .1em;
}
.semi-finalist  li.selected {
  background-color: #a6c7f3;
  color: white;
}
.semi-finalist  li.selected:hover {
  background-color: #3a9b47;
  color: white;
}
.semi-finalist  li.selected:active {
  background-color: black;
  color: white;
}
.semi-finalist  .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#3a9b47;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


.finalist  {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  float: left;
}
.finalist  li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #F92;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.finalist  li:hover {
  color: #2c3a41;
  background-color: #a6c7f3;
  left: .1em;
}
.finalist  li.selected {
  background-color: #a6c7f3;
  color: white;
}
.finalist  li.selected:hover {
  background-color: #3a9b47;
  color: white;
}
.finalist  li.selected:active {
  background-color: black;
  color: white;
}
.finalist  .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#3a9b47;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.eliminator  {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  float: left;
}
.eliminator  li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EC7;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.eliminator  li:hover {
  color: #2c3a41;
  background-color: #a6c7f3;
  left: .1em;
}
.eliminator  li.selected {
  background-color: #a6c7f3;
  color: white;
}
.eliminator  li.selected:hover {
  background-color: #3a9b47;
  color: white;
}
.eliminator  li.selected:active {
  background-color: black;
  color: white;
}
.eliminator  .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#3a9b47;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.winner  {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  float: left;
}
.winner  li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(62, 172, 153);
  color: white;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.winner  li:hover {
  color: #2c3a41;
  background-color: #a6c7f3;
  left: .1em;
}
.winner  li.selected {
  background-color: #a6c7f3;
  color: white;
}
.winner  li.selected:hover {
  background-color: #3a9b47;
  color: white;
}
.winner  li.selected:active {
  background-color: black;
  color: white;
}
.winner  .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#3a9b47;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.wrapper {
  text-align: center;
  width: max-content;
}

.showElim, .showQuaterfinalist, .showSemiFinal, .showFinal, .showWinner {
  width: 232px;
}

.showFinal, .showElim, .showSemiFinal, .showWinner {
  float: left;
}

.headerElim {
  text-align: center;
  color: #a6c7f3;
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
}

.headerSemiFinalist {
  color: #A6C860;
  text-align:center;
  font-weight: bold;
  font-style: italic;
  font-size: 19px;

}

.headerquaterFinalist {
  color: #e690bb;
  text-align:center;
  font-weight: bold;
  font-style: italic;
  font-size: 19px;

}

.headerFinalist {
  color: #e6490d;
  text-align:center;
    font-weight: bold;
    font-style: italic;
    font-size: 19px;

}

.headerWinner {
  color: #245831;
  text-align:center;
    font-weight: bold;
    font-style: italic;
    font-size: 19px;

}

.wrapperSubmit {
  float: left;
}






